---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-opex-analytics

resources:
  - resources/kube-opex-analytics-rbac.yaml
  - resources/kube-opex-analytics-config.yaml
  - resources/kube-opex-analytics-secrets.yaml
  - resources/kube-opex-analytics-sts.yaml
  - resources/kube-opex-analytics-service.yaml
  - resources/kube-opex-analytics-tests.yaml
images:
  - name: kube-opex-analytics
    newName: rchakode/kube-opex-analytics
    newTag: 22.12.0
