{{- if .Values.prometheusOperator.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "kubeledger.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kubeledger.labels" . | nindent 4 }}
    {{- include "kubeledger.prometheusLabels" . | nindent 4 }}
spec:
  endpoints:
  - path: /metrics
    port: http
  namespaceSelector:
    matchNames:
    - {{ .Release.Namespace }}
  selector:
    matchLabels:
        app: {{ include "kubeledger.fullname" . }}
{{- end}}