name: Build Docker image on PR
on:
  pull_request:
    branches: [main]

jobs:
  build_dev_image:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Build and push Docker image
      env:
        DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
        DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      run: |
        export IMAGE_TAG="$(date +%F)-$(git rev-parse --short HEAD)"
        docker build . --file Dockerfile --tag registry.hub.docker.com/rchakode/kube-opex-analytics:$IMAGE_TAG
        echo "$DOCKERHUB_PASSWORD" | docker login -u $DOCKERHUB_USERNAME --password-stdin
        docker push registry.hub.docker.com/rchakode/kube-opex-analytics:$IMAGE_TAG
