name: Release GHCR Image

on:
  push:
    tags:
      - v*

jobs:
  build_ghcr_image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0  # Récupère tous les tags
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Extract version
        id: version
        run: |
          GIT_TAG=${GITHUB_REF#refs/tags/}
          IMAGE_TAG=${GIT_TAG#v}
          echo "tag=${IMAGE_TAG}" >> $GITHUB_OUTPUT
          echo "git_tag=${GIT_TAG}" >> $GITHUB_OUTPUT
      
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ghcr.io/realopslabs/kubeledger:${{ steps.version.outputs.tag }}
            ghcr.io/realopslabs/kubeledger:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max